<%= unless @conn.assigns[:skip_plausible_tracking] do %>
  <!-- Privacy-friendly analytics by Found For AI -->
  <script
    async
    src="https://analytics.foundforai.com/js/pa-xa5Rz1EKty8g_661Y0cD-.js"
  >
  </script>
  <script>
    window.foundforai=window.foundforai||function(){(foundforai.q=foundforai.q||[]).push(arguments)},foundforai.init=foundforai.init||function(i){foundforai.o=i||{}};
    foundforai.init()
  </script>
<% end %>
